{% extends 'usuario/home_blog.html' %}
{% load static %}

{% block publicaciones %}
<h1 class="mb-4">Publicaciones Recientes</h1>
{% if publicaciones %}
    <div class="row">
    {% for publicacion in publicaciones %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <style>
                    {{ publicacion.estilos_css|safe }}
                </style>
                {% if publicacion.imagen %}
                    <img src="{{ publicacion.imagen.url }}" class="card-img-top" alt="Imagen publicación" style="max-height:200px;object-fit:cover;">
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" class="card-img-top" alt="Imagen por defecto" style="max-height:200px;object-fit:contain;background:#fff;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ publicacion.nombre }}</h5>
                    <p class="card-text"><small class="text-muted">Publicado por {{ publicacion.usuario_creador }} el {{ publicacion.fecha_registro|date:"d/m/Y" }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ publicacion.categoria.nombre }}</small></p>

                    <div class="card-text">{{ publicacion.contenido_html|safe|truncatechars:120 }}</div>
                    <a href="{% url 'vista_usuario' publicacion.nombre %}" class="btn btn-outline-primary mt-2">Ver noticia completa</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No hay publicaciones aún.</p>
{% endif %}
{% endblock publicaciones %}